<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Trillion's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" >Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/Dashboard" class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/Blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/Login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/Logout">Logout</a>
      </li>
      <li   class="nav-item">
        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-link"  routerLink="/Register">Register</a>
      </li>
    </ul>
  </div>
</nav>
